<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.SignMapper" >
  <resultMap id="BaseResultMap" type="po.Sign" >
    <id column="SIG_ID" property="sigId" jdbcType="INTEGER" />
    <result column="SIG_AC_ID" property="sigAcId" jdbcType="INTEGER" />
    <result column="SIG_PER_ID" property="sigPerId" jdbcType="VARCHAR" />
    <result column="SIG_PER_NAME" property="sigPerName" jdbcType="VARCHAR" />
    <result column="SIG_DATE" property="sigDate" jdbcType="TIMESTAMP" />
    <result column="SIG_HAN_DATE" property="sigHanDate" jdbcType="TIMESTAMP" />
    <result column="SIG_DOC_ID" property="sigDocId" jdbcType="VARCHAR" />
    <result column="SIG_DOC1_NAME" property="sigDoc1Name" jdbcType="VARCHAR" />
    <result column="SIG_DOC2_NAME" property="sigDoc2Name" jdbcType="VARCHAR" />
    <result column="SIG_DOC3_NAME" property="sigDoc3Name" jdbcType="VARCHAR" />
    <result column="SIG_STATUS" property="sigStatus" jdbcType="CHAR" />
  </resultMap>
  
   
  <resultMap id="ResultMap1" type="po.SignCustom1" >
    <id column="SIG_ID" property="sigId" jdbcType="INTEGER" />
    <result column="SIG_AC_ID" property="sigAcId" jdbcType="INTEGER" />
    <result column="SIG_PER_ID" property="sigPerId" jdbcType="VARCHAR" />
    <result column="SIG_PER_NAME" property="sigPerName" jdbcType="VARCHAR" />
    <result column="SIG_DATE" property="sigDate" jdbcType="TIMESTAMP" />
    <result column="SIG_HAN_DATE" property="sigHanDate" jdbcType="TIMESTAMP" />
    <result column="SIG_DOC_ID" property="sigDocId" jdbcType="VARCHAR" />
    <result column="SIG_DOC1_NAME" property="sigDoc1Name" jdbcType="VARCHAR" />
    <result column="SIG_DOC2_NAME" property="sigDoc2Name" jdbcType="VARCHAR" />
    <result column="SIG_DOC3_NAME" property="sigDoc3Name" jdbcType="VARCHAR" />
    <result column="SIG_STATUS" property="sigStatus" jdbcType="CHAR" />
    <result column="AC_TYPE" property="acType" jdbcType="VARCHAR" />
    <result column="AC_CRE_NAME" property="acCreName" jdbcType="VARCHAR" />
    <result column="AC_CRE_DATE" property="acCreDate" jdbcType="TIMESTAMP" />
    <result column="AC_DUE_DATE" property="acDueDate" jdbcType="TIMESTAMP" />
    <result column="AC_SIG_DUE_DATE" property="acSigDueDate" jdbcType="TIMESTAMP" />
    <result column="AC_TITLE" property="acTitle" jdbcType="VARCHAR" />
    <result column="AC_DESC" property="acDesc" jdbcType="VARCHAR" />
    <result column="AC_DOC1_NAME" property="acDoc1Name" jdbcType="VARCHAR" />
    <result column="AC_DOC2_NAME" property="acDoc2Name" jdbcType="VARCHAR" />
    <result column="AC_DOC3_NAME" property="acDoc3Name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SIG_ID, SIG_AC_ID, SIG_PER_ID, SIG_PER_NAME, SIG_DATE, SIG_HAN_DATE, SIG_DOC_ID, 
    SIG_DOC1_NAME, SIG_DOC2_NAME, SIG_DOC3_NAME, SIG_STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.SignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sign
    where SIG_ID = #{sigId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sign
    where SIG_ID = #{sigId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.SignExample" >
    delete from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Sign" >
    insert into sign (SIG_ID, SIG_AC_ID, SIG_PER_ID, 
      SIG_PER_NAME, SIG_DATE, SIG_HAN_DATE, 
      SIG_DOC_ID, SIG_DOC1_NAME, SIG_DOC2_NAME, 
      SIG_DOC3_NAME, SIG_STATUS)
    values (#{sigId,jdbcType=INTEGER}, #{sigAcId,jdbcType=INTEGER}, #{sigPerId,jdbcType=VARCHAR}, 
      #{sigPerName,jdbcType=VARCHAR}, #{sigDate,jdbcType=TIMESTAMP}, #{sigHanDate,jdbcType=TIMESTAMP}, 
      #{sigDocId,jdbcType=VARCHAR}, #{sigDoc1Name,jdbcType=VARCHAR}, #{sigDoc2Name,jdbcType=VARCHAR}, 
      #{sigDoc3Name,jdbcType=VARCHAR}, #{sigStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="po.Sign" >
    insert into sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sigId != null" >
        SIG_ID,
      </if>
      <if test="sigAcId != null" >
        SIG_AC_ID,
      </if>
      <if test="sigPerId != null" >
        SIG_PER_ID,
      </if>
      <if test="sigPerName != null" >
        SIG_PER_NAME,
      </if>
      <if test="sigDate != null" >
        SIG_DATE,
      </if>
      <if test="sigHanDate != null" >
        SIG_HAN_DATE,
      </if>
      <if test="sigDocId != null" >
        SIG_DOC_ID,
      </if>
      <if test="sigDoc1Name != null" >
        SIG_DOC1_NAME,
      </if>
      <if test="sigDoc2Name != null" >
        SIG_DOC2_NAME,
      </if>
      <if test="sigDoc3Name != null" >
        SIG_DOC3_NAME,
      </if>
      <if test="sigStatus != null" >
        SIG_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sigId != null" >
        #{sigId,jdbcType=INTEGER},
      </if>
      <if test="sigAcId != null" >
        #{sigAcId,jdbcType=INTEGER},
      </if>
      <if test="sigPerId != null" >
        #{sigPerId,jdbcType=VARCHAR},
      </if>
      <if test="sigPerName != null" >
        #{sigPerName,jdbcType=VARCHAR},
      </if>
      <if test="sigDate != null" >
        #{sigDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sigHanDate != null" >
        #{sigHanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sigDocId != null" >
        #{sigDocId,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc1Name != null" >
        #{sigDoc1Name,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc2Name != null" >
        #{sigDoc2Name,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc3Name != null" >
        #{sigDoc3Name,jdbcType=VARCHAR},
      </if>
      <if test="sigStatus != null" >
        #{sigStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.SignExample" resultType="java.lang.Integer" >
    select count(*) from sign
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sign
    <set >
      <if test="record.sigId != null" >
        SIG_ID = #{record.sigId,jdbcType=INTEGER},
      </if>
      <if test="record.sigAcId != null" >
        SIG_AC_ID = #{record.sigAcId,jdbcType=INTEGER},
      </if>
      <if test="record.sigPerId != null" >
        SIG_PER_ID = #{record.sigPerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sigPerName != null" >
        SIG_PER_NAME = #{record.sigPerName,jdbcType=VARCHAR},
      </if>
      <if test="record.sigDate != null" >
        SIG_DATE = #{record.sigDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sigHanDate != null" >
        SIG_HAN_DATE = #{record.sigHanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sigDocId != null" >
        SIG_DOC_ID = #{record.sigDocId,jdbcType=VARCHAR},
      </if>
      <if test="record.sigDoc1Name != null" >
        SIG_DOC1_NAME = #{record.sigDoc1Name,jdbcType=VARCHAR},
      </if>
      <if test="record.sigDoc2Name != null" >
        SIG_DOC2_NAME = #{record.sigDoc2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.sigDoc3Name != null" >
        SIG_DOC3_NAME = #{record.sigDoc3Name,jdbcType=VARCHAR},
      </if>
      <if test="record.sigStatus != null" >
        SIG_STATUS = #{record.sigStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sign
    set SIG_ID = #{record.sigId,jdbcType=INTEGER},
      SIG_AC_ID = #{record.sigAcId,jdbcType=INTEGER},
      SIG_PER_ID = #{record.sigPerId,jdbcType=VARCHAR},
      SIG_PER_NAME = #{record.sigPerName,jdbcType=VARCHAR},
      SIG_DATE = #{record.sigDate,jdbcType=TIMESTAMP},
      SIG_HAN_DATE = #{record.sigHanDate,jdbcType=TIMESTAMP},
      SIG_DOC_ID = #{record.sigDocId,jdbcType=VARCHAR},
      SIG_DOC1_NAME = #{record.sigDoc1Name,jdbcType=VARCHAR},
      SIG_DOC2_NAME = #{record.sigDoc2Name,jdbcType=VARCHAR},
      SIG_DOC3_NAME = #{record.sigDoc3Name,jdbcType=VARCHAR},
      SIG_STATUS = #{record.sigStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Sign" >
    update sign
    <set >
      <if test="sigAcId != null" >
        SIG_AC_ID = #{sigAcId,jdbcType=INTEGER},
      </if>
      <if test="sigPerId != null" >
        SIG_PER_ID = #{sigPerId,jdbcType=VARCHAR},
      </if>
      <if test="sigPerName != null" >
        SIG_PER_NAME = #{sigPerName,jdbcType=VARCHAR},
      </if>
      <if test="sigDate != null" >
        SIG_DATE = #{sigDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sigHanDate != null" >
        SIG_HAN_DATE = #{sigHanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sigDocId != null" >
        SIG_DOC_ID = #{sigDocId,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc1Name != null" >
        SIG_DOC1_NAME = #{sigDoc1Name,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc2Name != null" >
        SIG_DOC2_NAME = #{sigDoc2Name,jdbcType=VARCHAR},
      </if>
      <if test="sigDoc3Name != null" >
        SIG_DOC3_NAME = #{sigDoc3Name,jdbcType=VARCHAR},
      </if>
      <if test="sigStatus != null" >
        SIG_STATUS = #{sigStatus,jdbcType=CHAR},
      </if>
    </set>
    where SIG_ID = #{sigId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Sign" >
    update sign
    set SIG_AC_ID = #{sigAcId,jdbcType=INTEGER},
      SIG_PER_ID = #{sigPerId,jdbcType=VARCHAR},
      SIG_PER_NAME = #{sigPerName,jdbcType=VARCHAR},
      SIG_DATE = #{sigDate,jdbcType=TIMESTAMP},
      SIG_HAN_DATE = #{sigHanDate,jdbcType=TIMESTAMP},
      SIG_DOC_ID = #{sigDocId,jdbcType=VARCHAR},
      SIG_DOC1_NAME = #{sigDoc1Name,jdbcType=VARCHAR},
      SIG_DOC2_NAME = #{sigDoc2Name,jdbcType=VARCHAR},
      SIG_DOC3_NAME = #{sigDoc3Name,jdbcType=VARCHAR},
      SIG_STATUS = #{sigStatus,jdbcType=CHAR}
    where SIG_ID = #{sigId,jdbcType=INTEGER}
  </update>
  <!--从这里开始都是添加的 -->
<select id="selectSignByacIdAndsigPerId" resultType="String">
	select SIG_STATUS
	 from sign where SIG_AC_ID = #{acId} and SIG_PER_ID = #{sigPerId} 
  </select>
  
  <!-- 分页SQL语句 -->
	<select id="selectSignUnhandledByAcId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sign where SIG_AC_ID= #{acId} and SIG_STATUS = '0'
		order by SIG_DATE DESC limit #{startPos},#{pageSize}
	</select>
	<!-- 取得记录的总数 -->
	<select id="selectSignUnhandledByAcIdCount" resultType="long">
		SELECT COUNT(*) FROM sign where SIG_AC_ID= #{acId} and SIG_STATUS = '0'
	</select>
	<!-- 分页SQL语句 -->
	<select id="selectSignHandledByAcId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sign where SIG_AC_ID= #{acId} and SIG_STATUS = '1'
		order by SIG_DATE DESC limit #{startPos},#{pageSize}
	</select>
	<!-- 取得记录的总数 -->
	<select id="selectSignHandledByAcIdCount" resultType="long">
		SELECT COUNT(*) FROM sign where SIG_AC_ID= #{acId} and SIG_STATUS &lt;&gt; '0'
	</select>
	
	<!-- 分页SQL语句 -->
	<select id="selectSignBySigPerId" resultMap="ResultMap1">
		select AC_TYPE,USER_NAME as AC_CRE_NAME, AC_CRE_DATE,
		 AC_DUE_DATE, AC_SIG_DUE_DATE, AC_TITLE, AC_DESC, AC_DOC1_NAME,
		 AC_DOC2_NAME, AC_DOC3_NAME
		, <include refid="Base_Column_List" />
		from sign,activity,user where USER_ID = AC_CRE_ID and SIG_PER_ID= #{sigPerId} and
		 sign.SIG_AC_ID = activity.AC_ID
		order by SIG_DATE DESC limit #{startPos},#{pageSize}
	</select>
	<!-- 取得记录的总数 -->
	<select id="selectSignBySigPerIdCount" resultType="long">
		SELECT COUNT(*) FROM sign where SIG_PER_ID= #{sigPerId}
	</select>
	
	<select id="selectStudentByAcId" resultMap="BaseResultMap">
		SELECT SIG_PER_ID,SIG_PER_NAME FROM sign where SIG_AC_ID= #{acId}
	</select>
	
	<select id="selectActivitySignCount" resultType="long">
		SELECT COUNT(*) FROM sign where SIG_AC_ID = #{acId} 
	</select>
	
	<!-- 分页SQL语句 -->
	<select id="selectSignUnhandledByAcIdAndTeacherId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sign where SIG_AC_ID= #{acId} and SIG_STATUS = '0' and SIG_PER_ID in
		(select USER_ID from user where USER_ACADEMY in 
		(select USER_ACADEMY from user where USER_ID = #{userId}) and
		USER_GRADE in 
		(select USER_GRADE from user where USER_ID = #{userId}))
		order by SIG_DATE DESC limit #{startPos},#{pageSize}
	</select>
	<!-- 取得记录的总数 -->
	<select id="selectSignUnhandledByAcIdAndTeacherIdCount" resultType="long">
		SELECT COUNT(*) from sign where SIG_AC_ID= #{acId} and SIG_STATUS = '0' and SIG_PER_ID in
		(select USER_ID from user where USER_ACADEMY in 
		(select USER_ACADEMY from user where USER_ID = #{userId}) and
		USER_GRADE in 
		(select USER_GRADE from user where USER_ID = #{userId}))
	</select>
	
	<!-- 分页SQL语句 -->
	<select id="selectSignHandledByAcIdAndTeacherId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sign where SIG_AC_ID= #{acId} and SIG_STATUS &lt;&gt; '0' and SIG_PER_ID in
		(select USER_ID from user where USER_ACADEMY in 
		(select USER_ACADEMY from user where USER_ID = #{userId}) and
		USER_GRADE in 
		(select USER_GRADE from user where USER_ID = #{userId}))
		order by SIG_DATE DESC limit #{startPos},#{pageSize}
	</select>
	<!-- 取得记录的总数 -->
	<select id="selectSignHandledByAcIdAndTeacherIdCount" resultType="long">
		SELECT COUNT(*) from sign where SIG_AC_ID= #{acId} and SIG_STATUS &lt;&gt; '0' and SIG_PER_ID in
		(select USER_ID from user where USER_ACADEMY in 
		(select USER_ACADEMY from user where USER_ID = #{userId}) and
		USER_GRADE in 
		(select USER_GRADE from user where USER_ID = #{userId}))
	</select>
</mapper>